.xdebug-error {
  display: none;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.xdebug-error-notification {
  position: fixed;
  top: 30%;
  left: 0;
  transform: translate(-100%, 0);
  border: 1px solid #4f5b93;
  background: #8892be;
  color: white;
  font-family: monospace;
  padding: 1rem;
  text-align: center;
  min-width: 200px;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  will-change: transform;
}

.xdebug-error-notification.showing {
  transform: translate(0, 0);
}

.xdebug-error-notification.showing.hidden {
  transform: translate(-100%, 0);
}